.row {
    width: 100%;
    /*margin: 0 auto;*/
      text-align: center;
      position: relative;
  }
  .block {
    /*float: left;*/
      display: inline-block;
      zoom: 1;
      margin: 10px;
  }